.container {
    display: flex;
    border: 1px solid #dce6ed;
    width: 700px;
    position: absolute;
    left: 25%;
    background: white;
    margin-top: 30px;
    border-radius: 4px;
    color: #656b7e;
}

p {
text-align: left;
    margin: 10px;
}

form {
    border-top: 1px solid #dce6ed;
    width: 700px;
    background: white;
    display: flex;
    justify-content: center;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.wrapper {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    color: #656b7e;
    width: 465px;
}

input[type="text"],input[type="password"] {
    margin-left: 30px;
    border-radius: 4px;
    height: 30px;
    width: 300px;
    border: 1px ridge #d5d9da;
}

input[type="checkbox"] {
    margin-left: 0;
    margin-top: 20px;
    font-weight: 100;
}

input {
    margin-top: 10px;
}

.wrapper-btn {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 304px;
}
label {
    font-weight: 500;
}

.box {
    font-weight: 100;
}

button {
    border: 1px solid #2196f3;
    border-radius: 3px;
    background: #2c98d2;
    height: 36px;
    color: white;
    margin-bottom: 20px;
    margin-top: 10px;
}

.link a {
    text-decoration: none;
    color: white;
    margin: 0;
    padding: 5px;

}

.link {
    display: flex;
    align-items: center;
    font-size: 13px;
    margin-bottom: 20px;
    border: 1px solid #2196f3;
    border-radius: 3px;
    background: #2c98d2;
    height: 36px;
    width: 56px;

}